theme: minima

title: Nomz
author: dkelter17
description: > # this means to ignore newlines until "baseurl:"
  Recipes we love, compiled in one place, for your enjoyment.
github_username:  dkelter17

exclude:
  - Gemfile
  - Gemfile.lock
  - script
collections:
  recipes:
    output: true

defaults:
  - scope:
      path: "" # an empty string here means all files in the project
      type: "recipes" # previously `post` in Jekyll 2.2.
    values:
      layout: "recipe"
