---
layout: page
title: Browse All
include_in_header: true
---

<ul>
    {%- for author in site.data.authors -%}
    <li><a href="#{{author | slugify}}">{{ author }}</a></li>
    {%- endfor -%}
    <li><a href="#other">Other</a></li>
</ul>

{%- for author in site.data.authors -%}
<h2 id="{{ author | slugify }}">&rarr; {{ author }}</h2>

<ul class="recipe-list">
    {%- for recipe in site.data.recipe_database -%}
    {%- unless recipe.author == author -%}{%- continue -%}{%- endunless -%}
    <li>
        <h5>
            {% include db_recipe_full.html recipe=recipe %}
        </h5>
    </li>
    {%- endfor -%}
</ul>
{%- endfor -%}

<h2 id="other">&rarr; Other!</h2>

<ul class="recipe-list">
  {%- for recipe in site.data.recipe_database -%}
    {%- if site.data.authors contains recipe.author -%}{%- continue -%}{%- endif -%}
    <li>
      <h5>
        {% include db_recipe_full.html recipe=recipe %}
      </h5>
    </li>
  {%- endfor -%}
</ul>