---
layout: default
---

<div class="home">

  <h1 class="page-heading">Recipes</h1>

  <h2>&rarr; Dinner!</h2>

  <ul class="recipe-list">
    {% for recipe in site.recipes %}
      {% unless recipe.category == "dinner" %}{% continue %}{% endunless %}
      <li>
        <h5>
          <a class="recipe-link" href="{{ recipe.url | prepend: site.baseurl }}">{{ recipe.emoji }} {{ recipe.title | escape }}</a>
          {% for tag in recipe.tags %}
          <span class="post-meta">#{{tag}}</span>
          {% endfor %}
        </h5>
      </li>
      {% endfor %}
  </ul>

  <h2>&rarr; Breakfast!</h2>

  <ul class="recipe-list">
    {% for recipe in site.recipes %}
      {% unless recipe.category == "breakfast" %}{% continue %}{% endunless %}
      <li>
        <h5>
          <a class="recipe-link" href="{{ recipe.url | prepend: site.baseurl }}">{{ recipe.emoji }} {{ recipe.title | escape }}</a>
          {% for tag in recipe.tags %}
          <span class="post-meta">#{{tag}}</span>
          {% endfor %}
        </h5>
      </li>
    {% endfor %}
  </ul>

  <h2>&rarr; Dessert!</h2>

  <ul class="recipe-list">
    {% for recipe in site.recipes %}
      {% unless recipe.category == "dessert" %}{% continue %}{% endunless %}
      <li>
        <h5>
          <a class="recipe-link" href="{{ recipe.url | prepend: site.baseurl }}">{{ recipe.emoji }} {{ recipe.title | escape }}</a>
          {% for tag in recipe.tags %}
          <span class="post-meta">#{{tag}}</span>
          {% endfor %}
        </h5>
      </li>
    {% endfor %}
  </ul>

  <h2>&rarr; Toppings!</h2>

  <ul class="recipe-list">
    {% for recipe in site.recipes %}
      {% unless recipe.category == "topping" %}{% continue %}{% endunless %}
      <li>
        <h5>
          <a class="recipe-link" href="{{ recipe.url | prepend: site.baseurl }}">{{ recipe.emoji }} {{ recipe.title | escape }}</a>
          {% for tag in recipe.tags %}
          <span class="post-meta">#{{tag}}</span>
          {% endfor %}
        </h5>
      </li>
    {% endfor %}
  </ul>

  <h2>&rarr; Other!</h2>

  <ul class="recipe-list">
    <pre>
    {% for recipe in site.recipes %}
      {% if recipe.category == "dinner" %}{% continue %}{% endif %}
      {% if recipe.category == "breakfast" %}{% continue %}{% endif %}
      {% if recipe.category == "dessert" %}{% continue %}{% endif %}
      {% if recipe.category == "topping" %}{% continue %}{% endif %}
      <li>
        <h5>
          <a class="recipe-link" href="{{ recipe.url | prepend: site.baseurl }}">{{ recipe.emoji }} {{ recipe.title | escape }}</a>
          {% for tag in recipe.tags %}
          <span class="post-meta">#{{tag}}</span>
          {% endfor %}
        </h5>
      </li>
    {% endfor %}
  </ul>

</div>
