---
layout: default
---

<div class="home">

  <div id="search-results"></div>

  <h1 class="page-heading">Recipes</h1>

  <ul>
  {%- for category in site.data.categories -%}
    <li><a href="#{{category}}">{{ category | capitalize }}!</a></li>
  {%- endfor -%}
    <li><a href="#other">Other!</a></li>
  </ul>

  {%- for category in site.data.categories -%}
  <h2 id="{{category}}">&rarr; {{ category | capitalize }}!</h2>

  <ul class="recipe-list">
    {%- for recipe in site.recipes -%}
      {%- unless recipe.category == category -%}{%- continue -%}{%- endunless -%}
      <li>
        <h5>
          <a class="recipe-link" href="{{ recipe.url | prepend: site.baseurl }}">{{ recipe.emoji }} {{ recipe.title | escape }}</a>
          {% include recipe_category_tags.html category=recipe.category tags=recipe.tags %}
        </h5>
      </li>
      {%- endfor -%}
  </ul>
  {%- endfor -%}

  <h2 id="other">&rarr; Other!</h2>

  <ul class="recipe-list">
    {%- for recipe in site.recipes -%}
      {%- if site.data.categories contains recipe.category -%}{%- continue -%}{%- endif -%}
      <li>
        <h5>
          <a class="recipe-link" href="{{ recipe.url | prepend: site.baseurl }}">{{ recipe.emoji }} {{ recipe.title | escape }}</a>
          {% include recipe_category_tags.html category=recipe.category tags=recipe.tags %}
        </h5>
      </li>
    {%- endfor -%}
  </ul>

</div>
