<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <ul class="contact-list">
        <li class="p-name">
          <a href="{{ site.github.repository_url }}/edit/{{ site.github.source.branch }}/{{ page.relative_path }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span class="username">Edit</span></a>
        </li>
      </ul>
      <p id="stats"></p>
      <p>{{- site.description | escape -}}</p>
    </div>

  </div>

</footer>
