<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="alternate" type="application/rss+xml" title="Nomz | Recipes" href="{{ '/feed/recipes.xml' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="Nomz | Notes" href="{{ '/feed/notes.xml' | absolute_url }}">
  <link rel="recipesSearchIndex" href="{{ '/assets/searchIndex.json' | relative_url }}?version={{ site.github.build_revision }}">
  {% include head-icons.html %}

  {% if page.photo_url or page.photo_path %}
    {% capture social_image %}{% if page.photo_url %}{{ page.photo_url }}{% else %}{{ page.photo_path | absolute_url }}{% endif %}{% endcapture %}
    <meta property="og:image" content="{{ social_image | strip }}">
    <meta name="twitter:image" content="{{ social_image | strip }}">
    <meta name="twitter:card" content="summary_large_image">
  {% else %}
    <meta name="twitter:card" content="summary">
  {% endif %}
  <meta property="og:title" content="{{ page.title | default: site.title }}{% if page.emoji %} {{ page.emoji }}{% endif %}">
  <meta name="twitter:title" content="{{ page.title | default: site.title }}{% if page.emoji %} {{ page.emoji }}{% endif %}">
  {% capture social_description %}
    {% if page.author %}{{ page.author }}{% endif %}
    {% if page.author and page.source %} • {% endif %}
    {% if page.source %}{{ page.source }}{% endif %}
    {% if page.author or page.source %} — {% endif %}
    {{ page.description | default: site.description | strip_html | truncate: 160 }}
  {% endcapture %}
  <meta property="og:description" content="{{ social_description | strip_newlines | strip }}">
  <meta name="twitter:description" content="{{ social_description | strip_newlines | strip }}">

  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <script type="application/javascript">
    /**
     * Write visit and visitor counts to HTML
     *
     * @param document The current page's document
     * @param data An object containing 'visits' and 'visitors' keys with values as integers
     */
    function writePingStatsToHTML(document, data) {
      const text = `Views: ${data.views} | Visitors: ${data.visitors}`
      document.getElementById("stats").innerText = text
    }
  </script>
  <script src="https://ping.parkermoo.re/ping.js?v=2" type="application/javascript" defer async></script>
  <script src="https://ping.parkermoo.re/stats.js" type="application/javascript" defer async></script>
  <script type="application/javascript">document.nomzRecipes = {indexURL: "{{ '/assets/searchIndex.json' | relative_url }}?version={{site.github.build_revision}}", baseURL: "{{ '' | relative_url }}", baseAbsoluteURL: "{{ '' | absolute_url }}"};</script>
  <script src="{{ '/assets/js/lunr.js' | relative_url }}?version={{site.github.build_revision}}" type="application/javascript"></script>
  <script src="{{ '/assets/js/nomz.js' | relative_url }}?version={{site.github.build_revision}}" type="application/javascript"></script>
</head>
