<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include head-icons.html %}
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <script src="https://ping.parkermoo.re/ping.js?v=2" type="application/javascript"></script>
  <script type="application/javascript">document.recipesSearch = {indexURL: "{{ '/assets/searchIndex.json' | relative_url }}?version={{site.github.build_revision}}"};</script>
  <script type="application/javascript">document.recipesRandomizer = {indexURL: "{{ '/assets/db.json' | relative_url }}?version={{site.github.build_revision}}", htmlURL: "{{ '/randomizer.html' | relative_url }}"};</script>
  <script src="{{ '/assets/js/lunr.js' | relative_url }}?version={{site.github.build_revision}}" type="application/javascript"></script>
  <script src="{{ '/assets/js/searchRecipes.js' | relative_url }}?version={{site.github.build_revision}}" type="application/javascript"></script>
  <script src="{{ '/assets/js/randomizer.js' | relative_url }}?version={{site.github.build_revision}}" type="application/javascript"></script>
  <script src="{{ '/assets/js/ping-stats.js' | relative_url }}?version={{site.github.build_revision}}" type="application/javascript"></script>
</head>
