<!-- Icons licensed CC-BY 4.0, see more at {{ "assets/icons/README.md" | relative_url }} -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/icons/apple-touch-icon.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ 'assets/icons/android-chrome-192x192.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="512x512"  href="{{ 'assets/icons/android-chrome-512x512.png' | relative_url }}">
<link rel="icon" type="image/x-icon" sizes="48x48" href="{{ 'assets/icons/favicon.ico' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/icons/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/icons/favicon-16x16.png' | relative_url }}">
