---
# Only the main Sass file needs front matter (the dashes are enough)
# Copied from https://github.com/jekyll/jekyll/blob/v3.2.1/lib/site_template/css/main.scss
---

@charset "utf-8";

// Our variables
//$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

.recipe-list {
  margin-left: 0;
  list-style: none;
}

.recipe-link {
  @include relative-font-size(1.5);
}

.search-container {
  float: right;
  height: 100%;
  width: 50%;
  text-align: right;
  margin: 1em auto;

  input[type="text"] {
    width: 100%;
    height: 100%;
    font-size: 1em;
  }
}

.site-nav {
  padding-right: 1em;
}

.no-bottom-margin {
  margin-bottom: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #adbac7;
    background-color: #1f1f1f;
  }

  .site-header {
    border-bottom: 1px solid #adbac7;
  }

  .site-footer {
    border-top: 1px solid #adbac7;
  }

  .site-title, .site-title:visited {
    color: #efefef;
  }

  .site-nav .page-link {
    color: #efefef;
  }

  a {
    color: #4487de;
    &:visited {
      color: #1756a9;
    }
    &:hover {
      color: #5e9cf4;
    }
  }

  img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }

  .search-container input[type=text], .page-content input {
    background-color: #323233;
    color: #efefef;
    border: 0;
  }

}
