---
layout: page
---

{% if page.external_url or page.drive_url %}
<p>
    {% if page.external_url %}
        <a href="{{ page.external_url }}">&rarr; View Original Recipe</a>
    {% endif %}
    {% if page.drive_url %}
        <a href="{{ page.drive_url }}"> △</a>
    {% endif %}
</p>
{% endif %}

<p>
    {% assign source_index_url = site.data.notes_sources[page.source_index_title] %}
  <a href="{{ source_index_url | relative_url}}">{{page.source_index_title}}</a>
  {% if page.source contains " p. " %}
 p. {{page.source | split: " p. " | last}}
  {% endif %}
</p>

{% if page.category %}
 <p>Category: {{page.category}}</p>
{% endif %}

{{ content }}

<p>Tags: {{ page.tags | join: " / " }}</p>
